[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/opt/nexus/nexus-{{ nexus_version }}/bin/nexus start
ExecStop=/opt/nexus/nexus-{{ nexus_version }}/bin/nexus stop
User={{ nexus_username }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
